<div id="container">
	<h1>The Ping Pong Table Is...</h1>
	<p class="true <%= ' active' if (!!@available == @available && @available) %>">AVAILABLE</p>
	<p class="false <%= ' active' if (!!@available == @available && !@available) %>">IN-USE</p>
	<p class="unknown <%= ' active' unless !!@available == @available %>">UNKNOWN</p>
</div>

<h1 id="chart_title">Historical Data<div class="tiny">BETA</div></h1>

<%= high_chart("my_id4", @hitsChart)  %>


<script type="text/javascript">
	setTimeout('poll()', 5000);

	function poll() {
		$.getJSON('/status/available.json', function(data) {
			$('p').removeClass('active');
			$('.' + data.available).addClass('active');

			setTimeout('poll()', 5000);
		});
	}
</script>
