<%

   @ping = Ping.last()
   @available = (Time.now - @ping[:time] > 10 ? true : false)
%>
	<div id="container">
		<h1>Ping Pong Table Is:</h1>
		<p class="<%= 'active' if @available %>">AVAILABLE</p>
		<p class="<%= 'active' unless @available %>">IN-USE</p>
	</div>
