<div class="even">
  <h1 class="section_title">Availability</h1>
    <div id="container">
        <h2>The Ping Pong Table Is...</h2>
        <p class="true <%= ' active' if (!!@available == @available && @available) %>">AVAILABLE</p>
        <p class="false <%= ' active' if (!!@available == @available && !@available) %>">IN-USE</p>
        <p class="unknown <%= ' active' unless !!@available == @available %>">UNKNOWN</p>
    </div>
</div>

<div id='footer' class='odd'>
    <div id='footer-title'>
      Created By:
    </div>
    <div id='names'>
      <span>Justin Roberts</span>
      <span>Chip Freeney</span>
      <span>David Posey</span>
    </div>
</div>

<script type="text/javascript">
	setTimeout('poll()', 5000);

	function poll() {
		$.getJSON('/status/available.json', function(data) {
			$('p').removeClass('active');
			$('.' + data.available).addClass('active');

			setTimeout('poll()', 5000);
		});
	}
</script>
