body {
  font-family: arial, sans-serif;
  margin: 0;
}

.container {
  width: 50%;
  color: #193441;
  font-size: 0;
  margin: 0 auto;

  padding: 1.5% 0 3.5%;

  > h2 {
    font-size: 28px;
  }

  > p {
    text-align: center;
    width: 23.33%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 5%;
  }
}


.active {
  border-radius: 10px;
  background: #193441;
  color: white;
}
.true.active{
  background-color: #437443;
}
.false.active{
  background-color: #c74444;
}

.section_title {
  padding-left: 65px;
  margin: 0;
  padding-top: .5em;
}

.tiny {
  font-size: 12px;
  margin-top: -5px;
  text-align: right;
}

.even {
  background-color: #eee;
}
.odd {
  background-color: #fff;
}

.details{
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  a {
    color: red;
  }
}

#footer {
  height: 300px;
}
#footer-title{
  width: 100%;
  text-align: center;
  margin: 25px auto 0;
  font-weight: bold;
  font-size: 17px;
}
#names {
  width: 600px;
  margin: 10px auto 0;
  font-size: 15px;
  span {
    display: inline-block;
    vertical-align: top;
    width: 195px;
    margin: 10px 0px;
    text-align: center;
  }
}

