body {
	font-family: arial, sans-serif;
}

#container {
	width: 50%;
	color: #193441;
	font-size: 0;
	margin: 10% auto;

	> h1 {
		font-size: 32px;
	}

	> p {
		text-align: center;
		width: 23.33%;
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		padding: 20px 5%;
	}
}


.active {
	border-radius: 10px;
	background: #193441;
	color: white;
}